@font-face {
    font-family: 'Afterglow';
    src: url(/fonts/Afterglow-Regular.ttf) format('ttf');
  }

@font-face {
    font-family: 'SplineSans';
    src: url(/fonts/Spline_Sans/static/SplineSans-Regular.ttf) format('ttf');
  }

@font-face {
    font-family: 'Alegreya_sans';
    src: url(/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf) format('ttf');
  }
