@font-face {
    font-family: "Afterglow";
    src: local("Afterglow"), url(/fonts/Afterglow-Regular.ttf) format("truetype");
  }

@font-face {
    font-family: "SplineSans";
    src: local("SplineSans"), url(/fonts/Spline_Sans/static/SplineSans-Regular.ttf) format("truetype");
  }

@font-face {
    font-family: "AlegreyaSans";
    src: local("AlegreyaSans"), url(/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Light.ttf) format("truetype");
  }

h2 {
    margin: 0;
    padding: 0;
    margin-left: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h3 {
    margin: 0;
    padding: 0;
    margin-top: 3rem;
}

h4 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
    
}


.afterGlow40px {
    font-family: "Afterglow";
    font-size: 40px;
}

.afterGlow20px {
    font-family: "Afterglow";
    font-size: 20px;
}


.splineSans20px {
    font-family: "SplineSans";
    font-size: 20px;
}
.splineSans16px {
    font-family: "SplineSans";
    font-size: 16px;
}

.splineSans14px {
    font-family: "SplineSans";
    font-size: 14px;
}

.alegreyaSans32px {
    font-family: "AlegreyaSans";
    font-size: 32px;
}
