footer {
    display: flex;
    flex-direction: column;
}



.footerInfoText {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 4.188rem;
}

.socialMediaIcons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.footerLogo {
    text-align: center;
    margin-bottom: 4.119rem;
    
}

.footerDesktop {
    display: none;}

@media screen and (min-width: 900px) {


.footerMobile {
    display: none;
}


.footerDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 4rem;
    padding-top: 1.5rem;
}

.footerDesktop p, .footerDesktop a {
    color: #F0E9E5;


}
.contact h4, .company h4, .service h4 {
    margin-bottom: 2rem;
}

.contact {
    grid-column: 1/2;
}

.contact p  {
    margin-top: 2rem ;
    margin-bottom: 4rem
}

.footerIcon {
    margin-right: 0.7rem;
}


.company h4, .company p {
    grid-column: 2/3;
   padding-left: 30%;
}

.company p, .service p {
    margin-bottom: 1.8rem;
}

.service {
    grid-column: 3/4;
    padding-left: 40%;
}


.footerLogo {
    margin-top: 3.25rem;
    margin-bottom: 2.412rem;
    text-align: left;
    padding-left: 18%;
    

}




}