header {
  height: 36.063rem;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  position: relative;
}

nav {
  min-height: 4.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navMobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburgerContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.hamburger {
  margin-left: 10px;
}

.nav-icons img {
  margin: 10px;
}

.nav-icons img:hover {
  cursor: pointer;
}

.arrowButton {
  position: absolute;
  right: 0;
  top: 17.063rem;
}

.circleSliderContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.circleSlider {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: #c4aea8;
}

.navDesk {
  display: none;
}

/* DROPDOWN-MENY----------------- */

.dropDown {
  display: none;
  background-color: #5e6880;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  top: 68px;
  height: 31.813rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.dropDown.active {
display: flex;
}

.dropDown ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.dropDown li {
  list-style: none;
}

.dropDown li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 1rem;
  font-family: "SplineSans";
  font-size: 16px;
}

.dropDown a {
  text-decoration: none;
  color: white;
  font-family: "SplineSans";
  font-size: 16px;
}

.dropDownLogo {
  width: 16.151rem;
  margin: 0 auto;
}

.langContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.langSetting {
  display: flex;
  gap: 5px;
  margin-right: 1rem;
}

.langSetting p{
  color: white;
  font-size: 18px;
}

.heroContainer span {
  font-size: 3.75rem;
}

.heroInfoContainer {
  padding-top: 18rem;
  width: 23rem;
}

.heroContainer {
  background-image: url("/image/hero_skor_gif\ 1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* height: 100%; */
  height: 36.063rem;
  width: 100%;
}



.popUpMobile {
  display: none;
  width: 20.438rem;
  height: 32.063rem;
  background-color: #f0e9e5;
  border-radius: 24px;
  flex-direction: column;
  align-self: center;
  position: fixed;
  top: 12%;
  z-index: 99;
}

.popUpMobile.active {
    display: flex;
}

.popUpUpper {
  height: 11.813rem;
  background-color: #f9f9f9;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  position: relative;
}

#firstIcon,
#secondIcon:hover {
  cursor: pointer;
}

.closeIcon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.popUpMobile span {
  font-size: 2rem;
}

.mobileButtonPopup {
  width: 14.75rem;
  height: 2.5rem;
  border-radius: 4px;
}

.emailInput {
  width: 17.438rem;
  height: 2.5rem;
  border: 0px;
  background-color: #ffffff;
}


.popUpMobileThanks {
  display: none;
  width: 20.438rem;
  height: 32.063rem;
  background-color: #f0e9e5;
  border-radius: 24px;
  flex-direction: column;
  align-self: center;
  position: fixed;
  top: 12%;
  z-index: 99;
}

.popUpMobileThanks.active {
    display: flex;
}

.popUpUpper {
  height: 11.813rem;
  background-color: #f9f9f9;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
}

.popUpMobileThanks span {
  font-size: 2rem;
}

.mobileButtonPopupClose {
  width: 14.75rem;
  height: 2.5rem;
  border-radius: 4px;
  margin-top: 5.2rem;
}

/* DESKTOP---------------------------> */
@media screen and (min-width: 900px) {

  header {
    height: 37.5rem;
  }
  
 .navDesk {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .deskNavLinks {
  display: flex;
  margin: 0;
  padding: 0;
 }

 .deskNavLinks ul {
  margin: 0;
  padding: 0;
  display: flex;
 }

 .deskNavLinks li {
  list-style: none;
  display: inline-block;
  position: relative;
 }

 .deskNavLinks li a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  color: #fff;
 }

 .deskNavLinks li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 11px;
  left: 5px;
  background-color: #fff;
  transition: transform 0.25s ease-out;
 }

 .deskNavLinks li:hover::after {
  transform: scaleX(1);
  transform-origin: center;
 }

 .logoLinksWrapper {
  display: flex;
  gap: 10px;
 }

 .searchIconsWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
 }


.navMobile {
  display: none;
}

.searchInput input {
  border-radius: 20px;
  width: 190px;
  height: 40px;
  background: transparent url("/icons/vector\ black.svg");
  background-repeat:no-repeat;
  background-position: 2% 50%;
  background-color: #fff;
  border: none;
  padding-left: 30px;
}

.langSetting {
  color: #fff;
  margin: 0 10px
}

.langSetting a {
  text-decoration: none;
}

.langSetting p{
  color: white;
  font-size: 18px;
}

.langSetting a:hover {
 color: #555;
}

.heroContainer {
  height: 37.5rem;
}
.arrowButton {
  height: 37.8px;
  width: 18.9px;
}
.heroContainer h2 {
  /* hade 10%förut på margin left  */
  line-height: 70.5px;
  font-size: 64px;
  width: 35rem;
}

.heroContainer h2 span {
  font-size: 87px;
}

.mobileButton {
  width: 24.875rem;
  height: 3.5rem;
}

.popUpMobile {
  display: none;
  width: 42.5rem;
  height: 32.063rem;
  background-color: #f0e9e5;
  border-radius: 24px;
  flex-direction: row;
  align-self: center;
  position: fixed;
  top: 12%;
  z-index: 99;
}

.popUpMobile h3, .popUpMobileThanks h3 {
  margin-top: 4rem;
}

.popUpMobile p, .popUpMobileThanks p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.popUpMobile.active {
    display: flex;
}
.popUpUpper {
  height: 32.063rem;
  width: 55rem;
  background-color: #f9f9f9;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 0px;
  display: flex;
}

.emailInput {
  margin-bottom: 0.5rem;
}

.mobileButtonPopup {
  margin-bottom: 6rem;
}

.popUpMobileThanks {
  display: none;
 width: 42.5rem;
 height: 32.063rem;
 background-color: #f0e9e5;
 border-radius: 24px;
 flex-direction: row;
 align-self: center;
 position: fixed;
 top: 12%;
 z-index: 99;
}

.popUpMobileThanks .popUpUpper {
  width: 34rem;
}

.popUpMobileThanks .mobileButtonPopupClose {
  margin-top: 4.7rem;
}

/* .langIconWrapper {
  display: flex;
  align-items: center;
} */

}
