header {
    height: 36.063rem;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
    position: relative;

}

nav {
    height: 4.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburgerContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.hamburger {
    margin-left: 10px;
}



.nav-icons svg {
    margin: 5px;
}

/* DROPDOWN-MENY----------------- */
.dropDown {
    background-color: aqua;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
    top: 68px;
    height: 31.813rem;
    width: 100%;
}

.dropDown ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.dropDown li {
    list-style: none;
}

.dropDown li a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 1rem;
}

.dropDownLogo {
    width: 16.151rem;
    margin: 0 auto;
}


