* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


nav {
    height: 4.25rem;
<<<<<<< HEAD
    width: max-content;

=======
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    margin-left: 10px;
}

.nav-icons svg {
    margin: 5px;
>>>>>>> 127eeaf35e6bc61c760bfaa9d9d9f94b17c8aba6
}



.mobileButtonPopup {
    width: 17.438rem;
    height: 2.5rem;
}
