* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* margin-left: 15.625%;
    margin-right: 15.625%; */
}

button {
    background-color: #5E6880;
    color: white;
    font-family: SplineSans;
    font-size: 14px;
    border-style: none;
}

a {
    color: inherit;
}

.alignLeft {
    text-align: left;
}

.marginTop32px {
    margin-top: 2rem;
}

.marginTop24px {
    margin-top: 1.5rem;
}

.marginTop16px {
    margin-top: 1rem;
}

.marginTop8px{
    margin-top: 0.5rem;

}
.marginBottom64px {
    margin-bottom: 4rem;
}

.marginBottom16px {
    margin-bottom: 1rem;
}

.marginBottom20px {
    margin-bottom: 1.25rem;
}

.marginBottom34px {
    margin-bottom: 2.125rem;
}

.marginBottom32px {
    margin-bottom: 2rem;
}

.marginBottom272px {
    margin-bottom: 17rem;
}
.marginLeft24px {
    margin-left: 1.5rem;

}

.marginLeft22px {
    margin-left: 1.375rem;
}

.marginLeft16px {
    margin-left: 1rem;

}

.marginRight16px {
    margin-right: 1rem;
}

.marginRight24px {
    margin-right: 1.5rem;

}

.lineHeight24px {
    line-height: 1.5rem;
}


.colorBlue {
    color: #5E6880;
}

.colorBeige {
    color: #f0e9e5;
    
}

.backgroundBeige {
    background-color: #f0e9e5;
}

.backgroundBlue {
    background-color:#5E6880 ;
}

.buttonColor {
    background-color: #585858;
}

.mobileButton {
    width: 14.75rem;
    height: 2.5rem;
    border-radius: 0.25rem;
}



/* HEADER-------------------- */



/* PRODUCT SECTION */
.productDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.438rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
}

.productPrice {
    max-width: 9.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CLIMATE PART */

.climatePart {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.boxCircleContainer {
    width:20.438rem;
}

.checkBoxCircle {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.checkBoxCircle h4 {
    margin-left: 1rem;
}


/* COMPANY POLICY */

.companyPolicy {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.companyPolicy h4 {
    margin-top: 4rem;
    text-align: center;
}

.companyPolicy span {
    font-size: 1.75rem;
}



.policyWrapper {
    display: flex;
    gap: 10px;
}

.policyInfo {
    width: 9.625rem;
    height: 6.188rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.policyWrapper.middle {
    flex-direction: row-reverse;
}

/* NEWPRODUCTS---------- */

.newProduct {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textBox {
    width: 20.438rem;

}



.packPicture {
    width:20.438rem ;
    height: 20.438rem;
    border: 1px solid black;
    border-radius: 1.25rem;
    margin-top: 1.5rem;
}
.gridPictures{
    width: 9.625rem; 
    height: 9.625rem;
    border: 1px solid black;
    border-radius: 0.585rem;

}



.policyPicture {
    width: 9.625rem;
    height: 6.188rem;
    border: 1px solid black;
    border-radius: 0.156rem;
}

/* DESKTOP------------------------------------------> */

@media screen and (min-width: 900px) {

/* hero */
    .arrowButton {
        height: 37.8px;
        width: 18.9px;
    }
    .heroContainer h2 {
        /* hade 10%förut på margin left  */
        margin-left: 5%;
        line-height: 70.5px;
        font-size: 64px;
        width: 35rem;
    }

    .heroContainer h2 span {
        font-size: 87px;
    }

    .heroContainer button {
        margin-left: 5%;
    }
    
    .mobileButton {
        width: 24.875rem;
        height: 3.5rem;
    }



/* hero */


/* sektion1 */

.productDisplay {
    align-items:flex-start;  
    position: relative;
}

.arrowSlider {
width: 100%;
overflow-x: hidden;
display: flex;
gap: 2rem;
align-items: center;
}

.arrowContainer {
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
}

.arrowContainerRight{
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 99;
}

.arrowContainerRight img {
    position: absolute;
    left: 30%;
    top: 20%;
}


.arrowContainer img {
    transform: rotate(180deg);
    position: absolute;
    top: 20%;
    left: 30%;
}

    .textContainer {
        width: 36rem;
    }



    .gridContainer {
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
    }

    .slider {
        width: 100%;
        display: flex;
        gap: 4rem;
        overflow-x: auto;
        flex-direction: row;
        align-content: center;
    }

    .slider .gridPictures {
        width: 21.563rem;
        height: 21.563rem;
        line-height: 21.563rem;

    }

    .gridPictures {
        margin: 0.5rem;
    }
    
    .productPrice {
        max-width: 21.563rem;
        margin-left: 10px;
    }

    /* sektion2 */

    .climatePart {
        /* margin-left: 10%; */
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: start;
    }

    .boxCircleContainer {
        order: 0;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .packPicture {
        margin-top: 0;
        height: 33.438rem;
        width: 33.438rem;
        grid-column: 4/8;
        grid-row: 1/5;
    }

    .climatePart .textBox {
        grid-column: 1/3;
    }
   /* sektion3 */
    .companyPolicy {
        width: 90%;
    }

    .policyContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aqua;
        gap: 1rem;
    }

    .policyWrapper {
        flex-direction: column;
    }

    .policyWrapper.middle {
        flex-direction: column;
    }

    .policyPicture {
        /* width: 19.549rem; */
        width: 16.5rem;
        height: 12.397rem;
    }

    .policyInfo {
        /* width: 19.549rem; */
        width: 16.5rem;
    }

    .companyPolicy h3 {
        font-size: 42px;
    }

    .companyPolicy h4 {
        font-size: 42px;
    }

    .companyPolicy span {
        font-size: 60px;
    }
    
    .companyPolicy button {
        margin-top: 2rem;
    }
       /* sektion4 */
    .newProduct {
        background-image: url("/image/leaf.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
        width: 90%;
        color: #fff;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-bottom: 4rem;

    }
    .newTextBox {
        width: 20.438rem;
        margin-right: 1rem;
        margin-top: 4.688rem;
    }


    .newProduct h2, .newProduct p {
        color: #F0E9E5;
    }


    
}