* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* HEADER--------------- */
header {
    height: 36.063rem;
    background-color: blueviolet;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

/* NAVBAR--------------- */
nav {
    height: 4.25rem;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    margin-left: 10px;
}

.nav-icons svg {
    margin: 5px;
}

/* NAVBAR---------------- */

.mobileButtonPopup {
    width: 17.438rem;
    height: 2.5rem;
}

.mobileHeaderButton {
    width: 14.563rem;
    height: 2.088rem;
    border-radius: 0.261rem;
}
/* HEADER-------------------- */
main {
    display: flex;
    flex-direction: column;
}

.productDisplay {
    background-color: beige;
    border: 1px solid black;
}

.pictureGrid h2 {
    display: block;
}

.colorBlue {
    color: #344258;
}

.colorBeige {
    color: #f0e9e5;
    
}

.backgroundBeige {
    background-color: #f0e9e5;
}

.backgroundBlue {
    background-color:#344258 ;
}

.buttonColor {
    background-color: #585858;
}

.memberButtonMobile {
    width: 17.413rem;
    height: 2.5rem;
    border-radius: 0.438rem;
}
.packPicture {
    width:20.438rem ;
    height: 20.438rem;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 1.25rem;
}
.gridPictures{
    width: 9.625rem; 
    height: 9.625rem;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 0.585rem;
}

.policyPicture {
    width: 9.625rem;
    height: 6.188rem;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 0.156rem;
}


